[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
snowflake-connector-python = "*"
snowflake-sqlalchemy = "*"
sqlalchemy = "*"
pandas = "*"
python-dotenv = "*"

[requires]
python_version = "3.13"

[scripts]
start = "python __main__.py"